.SearchBar{
   
    width: 520px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-left: -33px;
}
.Search-content{
    width: 95%;
    height: 42px;
    display: flex;
    padding: 16px;
    
}
input{
    width: 322px;
    height: 37px;
    /* text-align: left; */
    margin-top: -10px;
    letter-spacing: 0px;
    color: #9A9A9E;
    opacity: 1;
    border: none;
    outline: 0;
    font-size: 15px;
    
}
.Search-content img{
    width: 27px;
    height: 27px;
    margin-top: -5px;
}